@import "~sass-rem";
@mixin color_sets($color_sets) {
  @each $name, $color in ($color_set) {
    .elm-color-#{$name} {
      color: $color;
    }
    .elm-border-color-#{$name} {
      border-color: $color;
    }
    .elm-bg-color-#{$name} {
      background-color: $color;
    }
  }
}

@function rem-calc($size, $default: 16px) {
  $remSize: $size / $default;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: rem($size);
}

@mixin generateFonts($font-sizes){

  @each $attr, $value in ($font-sizes) {

    .#{$attr} {
      font-size: rem-calc($value);
    }

  }

}

@mixin placeholder() {
  input::-webkit-input-placeholder {@content}
  input:-moz-placeholder           {@content}
  input::-moz-placeholder          {@content}
  input:-ms-input-placeholder      {@content}
}

@mixin transition($what: all, $time: 0.3s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}


@mixin elmSizes($size_array, $elm){

  @each $attr, $value in ($size_array) {

    .#{$attr} {

      $elm: $value;

    }

  }

}

@mixin generateColors($color_set: []){

  @each $name, $color in ($color_set) {

    .elm-color-#{$name} {
      color: $color;
    }

    .elm-color-#{$name}:hover {
      color: $color;
    }

    .elm-border-#{$name} {
      border-color: $color;
      &:hover {
        color: darken($color, 10%)
      }
    }

    .elm-bg-#{$name} {
      background-color: $color;
      &:hover {
        background-color: darken($color, 10%)
      }
    }

    .elm-bg-#{$name}:hover {
      background-color: $color;
      &:hover {
        background-color: darken($color, 10%)
      }
    }

    .elm-stroke-#{$name} {
      stroke: $color;
    }

  }


}
