@import '~sass-rem';

.button-elm {
  display: inline-block;
  border: none;
  padding: rem(14px 28px);
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  background: gray;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 200;
  letter-spacing: rem(.6px);
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: rem(2px);
}


.button-elm:hover,
.button-elm:focus
 {
  background: darken($color: gray, $amount: 10);
  transform: scale(0.99);
}


.button-elm:focus
 {
    outline: none;
    background: darken($color: gray, $amount: 12);
}


.button-elm:active
 {
  transform: scale(0.98);
}

.button-elm.rounded {

  border-radius: rem(100px);

}

.button-elm.button-lg {
  font-size: rem(24px);
   padding: rem(14px 48px);
}
