@import "~blacktie-styles/mixins/mixins";
@import "~blacktie-styles/base/variables";

$colors :(
  "primary": #2B3338,
  "electric-blue": #51677A,
  "smoke": whitesmoke
);



.oswald {
  font-family: 'Oswald', sans-serif;

}

.roboto {
  font-family: 'Roboto Slab', serif;
}

/// Defines the body
/// @param {*} 20px
/// @param {*} ;border-bottom [20px$gray-darksolid;}]
body {
  // background-color: aliceblue;
  padding: rem-calc(20px);
  border-bottom: 20px $gray-dark solid;

}

/// Set the active style for support buttons
///
.support-links.button.is-active, .support-links.button:active {
  border-color: #4a4a4a;
  color: lightgray;
}

.button:focus:not(:active) {
  color: lightgrey
}
