<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
   BlackTie - <%= htmlWebpackPlugin.options.title %>
  </title>
  <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <% } %>
<link rel="stylesheet" href="https://shopglobaluidesign-techdata-dev.azurewebsites.net/styles/app.css">
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div class="container">
    <div class="section my-5">
      <h1 class="title is-1">page-title</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, doloribus deserunt porro officiis esse repudiandae illo
        excepturi aspernatur, delectus dolorum facilis quae quaerat reprehenderit voluptates exercitationem ab provident,
        consectetur animi?</p>
        <hr>
      <div id="app">
        <p class="content">
        <app-button></app-button>
        </p>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</body>

</html>
